/*Page liens*/
/*1ère ligne*/
#intro{
    background-color: rgb(14, 231, 195);

}

/*alignement liens social*/
#ref{
    display:flex;
    align-items: center;
}

/*tableau de liens*/
#tab{
    background-color: rgb(255, 255, 0);
    
}

/*cadre vert */
#liens-vert{
    background-color: rgb(132, 163, 44);
}

/*cadre bleu*/
#liens-bleu{
    background-color: rgb(0, 118, 186);
}


/*Page Contact*/

#cont_contact{
    background-color: rgb(185, 67, 185);
}


/*Page cantine*/

#cantine{
    background-color: rgb(57, 146, 173);
}



/*Association*/

#asso{
    background-color: rgb(14, 231, 195);

}



/*Page cinéma */
#cinema{
    background-color: rgb(14, 231, 195);

}

/*Page environnement */
#env{
    background-color: rgb(0, 118, 186);
}



/*Image d'arrière plan pour certaines vues*/
#image{
    background-image: url("../images/MairieSJ/filigrame2.jpg");
    background-position: top;
    background-repeat: repeat;
}


/*CCAS*/
#ccas{
    background-color: rgb(0, 118, 186);
}

/*couleur navbar */

#nav{
    background-color: rgb(0, 118, 186);
}

/* agenda */

#agenda{
    background-color: rgb(170, 180, 23);
    }


/*jeunesse */

#jeun{
    background-color: rgb(14, 231, 195);

}


















